.homeheader
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: rgba(231, 244, 245, 0.623);
    height: 60px;
    align-items: center;
}
.hh2
{
    display: flex;
    justify-content:flex-end;
}
.hh1, .hh2 
{
    color: rgb(11, 11, 19);
    font-weight: bold;
    font-size: 17px;
}
.homeheader button
{
    background: rgba(201, 207, 255, 0.746);
    border:none;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}
.homeheader img
{
    height: 50px;
    width: 50px;
    margin-left: 20px;
}