<head>
    <style>
                @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

    </style>
</head>
<div class="header">
    <h4>Odaberite predmet za provjeru vašeg znanja</h4>
</div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="TREĆI SEMESTAR">
        <div class="sem1">
            <p>uuit</p>
            <p>uutp</p>
            <p>oee</p>
        </div>
    
    </mat-tab>
    <mat-tab label="ČETVRTI SEMESTAR">Content 2</mat-tab>
</mat-tab-group>
  