<div class="adduserdiv">
    <div class="adduser">
        <button class="btn2" mat-raised-button color="primary" routerLink="/addquiz">DODAJ KVIZ</button><br>
    </div>
</div>
<div class="adduserdiv">
    <div class="adduser">
        <button class="btn2" mat-raised-button color="primary" routerLink="/user">DODAJ KORISNIKA</button><br>
    </div>
</div>
<div class="tablediv">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="th">ID korisnika</th>
                <th class="th">Ime i prezime</th>
                <th class="th">E-mail</th>
                <th class="th">Type ID</th>
                <th class="th">Obriši korisnika</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users ">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.userTypeId}}</td>
                <td><button class="deletebutton" (click)="removeUser(user.id)">Ukloni</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="backuserdiv">
    <div class="backuser">
        <button class="btn3" mat-raised-button color="primary" routerLink="/home">NAZAD</button><br>
    </div>
</div>