<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Kalam:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Kalam:wght@700&family=Special+Elite&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
    </style>
</head>
<div class="tekst">
    <h1>Dobrodošli </h1>
</div>
<div class="tablediv">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="th">LISTA PREDMETA</th>
            </tr>
        </thead><br>
        <tbody>
            <tr *ngFor="let course of courses ">
                <mat-card>
                    <div class="coursediv" (click)="viewDetails(course.id)">
                        <td>{{course.name}}</td>
                    </div>
                </mat-card>
            </tr>
        </tbody>
    </table>
</div>