/* You can add global styles to this file, and also import other style files */

body
{
    margin: 0;

    box-sizing: border-box;
    /* background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm314-adj-02-g_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8ad547271612c88f2095746cbfd7f662"); */
    /* background-image: url("https://static7.depositphotos.com/1278966/761/i/950/depositphotos_7616729-stock-photo-numbers-background-light.jpg"); */
    /* background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-hud-infographic-with-notebook-low-poly-design-picture-image_1276778.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgb(20, 20, 34);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
