.header 
{
    text-align: center;
}
.header h4
{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    background-color: rgba(213, 221, 228, 0.541);
    border-radius: 10px;
    height: 25px;
}